<%-include("header")-%> 
    <div class="background">
      <!-- Dashboard Section -->
      <iframe
        class="dashboard"
        src="https://datastudio.google.com/embed/reporting/be8fc4f7-e299-4739-aa1d-0343abb7ff88/page/gAnUC"
        frameborder="0"
        allowfullscreen
      ></iframe>
      <div class="line"></div>
      <!-- Popular Cars Section -->
      <h3 class="heading">Popular Cars available to buy</h3>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col pad">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="">
              <img class="car_img" src="data:image/<%=items[0].img1.contentType%>;base64,
              <%=items[0].img1.data.toString('base64')%>" alt="car_img" />
            </div>
            <div class="card-body">
              <h1 class="card-title"><%= items[0].carname %> </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>₹ <%= items[0].sellingprice %></li>
                <li class="location">Location: <%= items[0].location %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col pad">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="">
              <img class="car_img" src="images/car-sample.jpeg" alt="car_img" />
            </div>
            <div class="card-body">
              <h1 class="card-title">Mahindra XUV700</h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>₹ 11.99 Lakh</li>
                <li class="location">Location: Karur, Tamil nadu</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col pad">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="">
              <img class="car_img" src="images/car-sample.jpeg" alt="car_img" />
            </div>
            <div class="card-body">
              <h1 class="card-title">Mahindra XUV700</h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>₹ 11.99 Lakh</li>
                <li class="location">Location: Karur, Tamil nadu</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="line"></div>
      <!-- Footer Section -->
      <h6 class="first_footer">Contact us : +91 1234567890</h6>
      <h6>For Auctioning your car contact : +91 1234567890</h6>
      <h6>© Copyright 2021 Cars365</h6>
    </div>
  </body>
</html>
